{%- set dc = ctx|to_context_obj -%}
{%- macro renderExpert(expert, parent, pathPrefix, humanIdentifier) %}
  {%- set path = pathPrefix ~ "." ~ expert.uuid %}
  <tr class="expert" id="{{expert.uuid}}">
    <td>{{humanIdentifier}}</td>
    <td>{{expert.uuid}}</td>
    <td class="cell-type">expert</td>
    <td>{{expert.name}}</td>
    <td>{{expert.email}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{parent}}</td>
    <td>{{path}}</td>
  </tr>
{%- endmacro -%}
{%- macro renderReference(reference, parent, pathPrefix, humanIdentifier) %}
  {%- set path = pathPrefix ~ "." ~ reference.uuid %}
  <tr class="reference" id="{{reference.uuid}}">
    <td>{{humanIdentifier}}</td>
    <td>{{reference.uuid}}</td>
    <td class="cell-type">reference</td>
    <td>
      {%- if reference is of_type("URLReference") -%}
        <a href="{{ reference.url }}" target="_blank">{{reference.label}}</a>
      {%- elif reference is of_type("ResourcePageReference") -%}
        <a href="{{ (dc.config.client_url ~ "/book-references/" ~ reference.short_uuid) }}" target="_blank">{{reference.short_uuid}}</a>
      {%- else -%}
        {{ reference.target_uuid }}
      {%- endif -%}
    </td>
    <td>
      {%- if reference is of_type("URLReference") -%}
        {{ reference.url }}
      {%- elif reference is of_type("ResourcePageReference") -%}
        {{ reference.short_uuid }}
      {%- else -%}
        {{ reference.target_uuid }}
      {%- endif -%}
    </td>
    <td>
      {%- if reference is of_type("URLReference") -%}
        url
      {%- elif reference is of_type("ResourcePageReference") -%}
        resource-page
      {%- else -%}
        cross-reference
      {%- endif -%}
    </td>
    <td></td>
    <td></td>
    <td>{{parent}}</td>
    <td>{{path}}</td>
  </tr>
{%- endmacro -%}
{%- macro renderChoice(choice, parent, pathPrefix, humanIdentifier) %}
  {%- set path = pathPrefix ~ "." ~ choice.uuid %}
  <tr class="choice" id="{{choice.uuid}}">
    <td>{{humanIdentifier}}</td>
    <td>{{choice.uuid}}</td>
    <td class="cell-type">choice</td>
    <td>{{choice.label|e}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{parent}}</td>
    <td>{{path}}</td>
  </tr>
{%- endmacro -%}
{%- macro renderAnswer(answer, parent, pathPrefix, humanIdentifier) %}
  {%- set path = pathPrefix ~ "." ~ answer.uuid %}
  <tr class="answer" id="{{answer.uuid}}">
    <td>{{humanIdentifier}}</td>
    <td>{{answer.uuid}}</td>
    <td class="cell-type">answer</td>
    <td>{{answer.label|e}}</td>
    <td>{{answer.advice|markdown}}</td>
    <td></td>
    <td>{{answer.followups|length}}</td>
    <td>
      {%- if answer.metric_measures|length > 0 -%}
        Metrics: {% for m in answer.metric_measures %}({{m.metric.uuid}}:{{m.weight}}:{{m.measure}}){%- endfor -%}
      {%- endif -%}
    </td>
    <td>{{parent}}</td>
    <td>{{path}}</td>
  </tr>
  {%- for question in answer.followups -%}
    {{ renderQuestion(question, answer.uuid, path, humanIdentifier ~ "." ~ loop.index) }}
  {%- endfor -%}
{%- endmacro -%}
{%- macro renderQuestion(question, parent, pathPrefix, humanIdentifier) %}
  {%- set path = pathPrefix ~ "." ~ question.uuid %}
  {%- set followups = 0 %}
  {%- set qtype = "string" %}
  {%- if question is of_type("OptionsQuestion") %}
    {%- set followups = question.answers|length %}
    {%- set qtype = "options" %}
  {%- elif question is of_type("ListQuestion") %}
    {%- set followups = question.itemTemplateQuestionUuids|length %}
    {%- set qtype = "list" %}
  {%- elif question is of_type("ValueQuestion") %}
    {%- if question.value_type == "TextQuestionValueType" %}
      {%- set qtype = "text" %}
    {%- elif question.value_type == "DateQuestionValueType" %}
      {%- set qtype = "date" %}
    {%- elif question.value_type == "NumberQuestionValueType" %}
      {%- set qtype = "number" %}
    {%- endif %}
  {%- elif question is of_type("IntegrationQuestion") %}
    {%- set qtype = "integration" %}
  {%- elif question is of_type("MultiChoiceQuestion") %}
    {%- set qtype = "multichoice" %}
  {%- endif %}
  <tr class="question" id="{{question.uuid}}">
    <td>{{humanIdentifier}}</td>
    <td>{{question.uuid}}</td>
    <td class="cell-type">question</td>
    <td>{{question.title|e}}</td>
    <td>{{question.text|markdown}}</td>
    <td>{{qtype}}</td>
    <td>{{followups}}</td>
    <td>{%- if question.required_phase -%}Phase: {{question.required_phase.uuid}}{%- endif -%}</td>
    <td>{{parent}}</td>
    <td>{{path}}</td>
  </tr>
  {%- for expert in question.experts -%}
    {{ renderExpert(expert, question.uuid, path, humanIdentifier ~ ".E-" ~ loop.index) }}
  {%- endfor %}
  {%- for reference in question.references -%}
    {{ renderReference(reference, question.uuid, path, humanIdentifier ~ ".R-" ~ loop.index) }}
  {%- endfor %}
  {%- if question is of_type("OptionsQuestion") %}
    {%- for answer in question.answers -%}
      {{ renderAnswer(answer, question.uuid, path, humanIdentifier ~ "." ~ loop.index|of_alphabet) }}
    {%- endfor %}
  {%- elif question is of_type("MultiChoiceQuestion") %}
    {%- for choice in question.choices -%}
      {{ renderChoice(choice, question.uuid, path, humanIdentifier ~ "." ~ loop.index|of_alphabet) }}
    {%- endfor %}
  {%- elif question is of_type("ListQuestion") %}
    {%- for q in question.followups -%}
      {{ renderQuestion(q, question.uuid, path ~ ".{item}", humanIdentifier ~ "._." ~ loop.index) }}
    {%- endfor -%}
  {%- endif -%}
{%- endmacro -%}
{%- macro renderChapter(chapter, humanIdentifier) %}
  <tr class="chapter" id="{{chapter.uuid}}">
    <td>{{humanIdentifier|roman}}</td>
    <td>{{chapter.uuid}}</td>
    <td class="cell-type">chapter</td>
    <td>{{chapter.title|e}}</td>
    <td>{{chapter.text|markdown}}</td>
    <td></td>
    <td>{{chapter.questions|length}}</td>
    <td></td>
    <td>{{dc.pkg.id}}</td>
    <td>{{chapter.uuid}}</td>
  </tr>
  {%- for question in chapter.questions -%}
    {{ renderQuestion(question, chapter.uuid, chapter.uuid, humanIdentifier|roman ~ "." ~ loop.index) }}
  {%- endfor -%}
{%- endmacro -%}
{%- macro renderMetric(metric) %}
  <tr class="metric" id="{{metric.uuid}}">
    <td>{{metric.abbreviation}}</td>
    <td>{{metric.uuid}}</td>
    <td class="cell-type">metric</td>
    <td>{{metric.title|e}}</td>
    <td>{% if metric.description %}{{metric.description|markdown}}{% endif %}</td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{dc.pkg.id}}</td>
    <td></td>
  </tr>
{%- endmacro -%}
{%- macro renderPhase(phase, index) %}
  <tr class="phase" id="{{phase.uuid}}">
    <td>phase-{{index}}</td>
    <td>{{phase.uuid}}</td>
    <td class="cell-type">phase</td>
    <td>{{phase.title|e}}</td>
    <td>{% if phase.description %}{{phase.description|markdown}}{% endif %}</td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{dc.pkg.id}}</td>
    <td></td>
  </tr>
{%- endmacro -%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>DSW KM: {{dc.pkg.name|e}}</title>
    <style>
      body {
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      }
      #km-table {
      border-collapse: collapse;
      width: 100%;
      }
      #km-table td, #km-table th {
      border: 1px solid #ddd;
      padding: 8px;
      overflow-wrap: break-word;
      }
      #km-table tr:nth-child(even) {
      background-color: #f2f2f2;
      }
      #km-table tr:hover {
      background-color: #ddd;
      }
      #km-table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #F15A24;
      color: white;
      }
      #km-table tr.chapter .cell-type {
      color: #910079;
      }
      #km-table tr.chapter:hover {
      background-color: #e3c1dd;
      }
      #km-table tr.question .cell-type {
      color: #084b8a;
      }
      #km-table tr.question:hover {
      background-color: #afc9e0;
      }
      #km-table tr.answer .cell-type {
      color: #49940c;
      }
      #km-table tr.answer:hover {
      background-color: #c1e6cb;
      }
      #km-table tr.choice .cell-type {
      color: #a3670d;
      }
      #km-table tr.choice:hover {
      background-color: #cfc0a9;
      }
      #km-table tr.reference .cell-type {
      color: #016655;
      }
      #km-table tr.reference:hover {
      background-color: #83e4dc;
      }
      #km-table tr.expert .cell-type {
      color: #848d05;
      }
      #km-table tr.expert:hover {
      background-color: #f8ff9d;
      }
      #km-table tr.metric .cell-type {
      color: #bf6f13;
      }
      #km-table tr.metric:hover {
      background-color: #e6ad6c;
      }
      #km-table tr.phase .cell-type {
      color: #9c0834;
      }
      #km-table tr.phase:hover {
      background-color: #ab7686;
      }
    </style>
  </head>
  <body>
    <table id="km-table">
      <thead>
        <tr>
          <th>Identifier</th>
          <th>UUID</th>
          <th>Type</th>
          <th>Title</th>
          <th>Text</th>
          <th>Subtype</th>
          <th>Extra</th>
          <th>Follow-ups</th>
          <th>Parent UUID</th>
          <th>Path</th>
        </tr>
      </thead>
      <tbody>
        {%- for chapter in dc.km.chapters -%}
          {{ renderChapter(chapter, loop.index) }}
        {%- endfor %}
        {%- for p in dc.km.phase_uuids -%}
          {# dc.km.phases is empty for the time being: bug in context.py for KnowledgeModel #}
          {% set phase = dc.km.e.phases[p] %}
          {{ renderPhase(phase, loop.index) }}
        {%- endfor -%}
        {%- for metric in dc.km.metrics -%}
          {{ renderMetric(metric) }}
        {%- endfor -%}
      </tbody>
    </table>
  </body>
</html>
